  <% unless @spaces.empty? %>

    <h3>All spaces</h3>
    
    
      <% @spaces.each do |space| %>
        <ul>
        <li style='list-style: none;'><b><%= space.name %></b>
          <ul>
          <li style='list-style: none; margin-left:-15px;'><%= space.description %></li>
          <li style='list-style: none; margin-left:-15px;'><%= space.price %> </li>
          </ul>
        </li>
      </ul>
      <% end %>
    

    <% end %>

  <a href="spaces/new">List a Space</a>
