<% unless @spaces.empty? %>

  <h3>All spaces</h3>

    <% @spaces.each do |space| %>
      <ul>
      <li><b><%= space.name %></b>
        <ul>
        <li><%= space.description %></li>
        <li><%= space.price %> </li>
        </ul>
      </li>
     </ul> 
    <% end %>
  </ul>

  <% end %>

<a href="spaces/new">List a Space</a>
