<% if @user.user_id = @space.user_id %>
<% unless @all_spaces.empty? %>


  <h3>All your spaces</h3>

    <% @all_spaces.each do |space| %>

      <li><%= space.name %></li>
      <li><%= space.description %></li>
      <li><%= space.price %> </li>
    <% end %>
  </ul>

  <% end %>

<a href="spaces/new">List a Space</a>
