<% if @user_id == @space_user_id %>
<% unless @all_spaces.empty? %>

  <h3>All spaces</h3>

    <% @all_spaces.each do |space| %>

      <li><%= space.name %></li>
      <li><%= space.description %></li>
      <li><%= space.price %> </li>
    <% end %>
  </ul>

<% end %>
<%end%>
<a href="spaces/n
ew">List a Space</a>
