<ul>
  <% @spaces.each do |space| %>
    <li><%= space.name %></li>
    <li><%= space.des %></li>
    <li><%= space.price %> </li>
  <% end %>
  <a href="spaces/new"><button> List another Space </button></a>
</ul>