<% unless @all_spaces.empty? %>

  <h3>All spaces</h3>

  <ul>
    <% @all_spaces.each do |space| %>
      <li><%= space.name %></li>
      <li><%= space.des %></li>
      <li><%= space.price %> </li>
    <% end %>
  </ul>

<% end %>

<a href="spaces/new"><button> List a Space </button></a>

