<div style="margin:0 auto;width:75%;text-align:center">
  <form action="/spaces/new" method="post">
    <label for="name">Name</label><br>
    <input type="text" id="name" name="name">
    <br>
    <br>
    <label for="des">Description</label><br>
    <textarea name="des" id="des" rows="6" cols="30"
      placeholder="Describe your space.." ></textarea>
    <br>
    <br>
    <label for="price">Price per night(£)</label><br>
    <input type="number" id="price" name="price">
    <br>
    <br>
    <input type="submit" value="List Space">
  </form>
</div>